@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #1f2937;
    background-color: #ffffff;
}

ul,
ol {
    list-style: none;
}

button {
    font: inherit;
}

a {
    text-decoration: none;
    color: #1f2937;
}

/* ul {
    display: flex;
    list-style-type: none;
    color: black;
    gap: 12px;
    color: white;
} */

.header-links {
    padding: 18px;
    width: 100%;
    background-color: #1f2937;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1024px;
    color: #ffffff;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.navbar-list {
    display: flex;
    gap: 24px;
}

.navbar-link {
    color: inherit;
}

.button {
    display: block;
    padding: 8px;
    width: 130px;
    font-weight: 700;
    color: #ffffff;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-outline {
    background-color: transparent;
    border: 2px solid #ffffff;
}

.hero {
    padding-block: 111px 133px;
    color: #ffffff;
    background-color: #1f2937;
}

.hero-container {
    display: flex;
    gap: 49px;
    margin-inline: auto;
    width: 1024px;
}

.hero-container .left-side {
    flex: 1 1 0;
}

.text-container {
    margin-bottom: 13px;
}

.text-container h1 {
    font-size: 48px;
    font-weight: 800;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(220, 13%, 91%, 0.4);
    width: 522px;
    height: 237px;
}

.random-info {
    padding-block: 48px 122px;
}

.random-info-container {
    margin-inline: auto;
    width: 820px;
}

.random-info h2 {
    margin-bottom: 48px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 49px;
}

.card .border-sqr {
    border: 3px solid #3882f6;
    width: 168px;
    height: 168px;
    border-radius: 16px;
}

.card p {
    text-align: center;
    margin-top: 8px;
}

.inspiring-quote {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-family: "Roboto";
    font-weight: 300;
    width: 792px;
    height: 168px;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 429px;
}

.author {
    padding-right: 30px;
    font-size: 24px;
    text-align: right;
}

.sign-up {
    margin-block: 100px;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 120px;
    width: 1024px;
    border-radius: 8px;
    margin-inline: auto;
    color: white;
    background-color: #3882f6;
}

.sign-up h3 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.signup-button {
    width: 130px;
    height: 37px;
    border-radius: 8px;
    border: solid white;
    color: white;
}

.footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #1f2937;
}
footer {
    font-size: 18px;
    color: white;
}
